*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
.vs
Bin
/ipch
Debug
Profile
Release
x64
/Tests
/wiki
/out
/CMakeFiles
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/texdiag.vcxproj.filters
/texdiag.vcxproj
/texconv.vcxproj.filters
/texconv.vcxproj
/texassemble.vcxproj.filters
/texassemble.vcxproj
/DirectXTex_CMake.sln
/directxtex.vcxproj.filters
/directxtex.vcxproj
/cmake_install.cmake
/CMakeCache.txt
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
