*.psess
*.vsp
*.log
*.err
*.wrn
*.suo
*.sdf
*.user
*.i
*.vspscc
*.opensdf
*.opendb
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.VC.db
*.nupkg
.vs
[Bb]in
packages
/DDSView/Shaders/*.inc
/DDSView/Shaders/*.pdb
/DirectXTex/Shaders/Compiled/*.inc
/DirectXTex/Shaders/Compiled/*.pdb
/ipch
Debug
Durango
Gaming.Xbox.XboxOne.x64
Gaming.Xbox.Scarlett.x64
Gaming.Desktop.x64
Profile
Release
x64
/Tests
/wiki
/out
/CMakeUserPresets.json
